# Base requirements
jupyterlab
jupyter
torch
torchvision
torchinfo
tqdm
numpy
matplotlib
holoviews
umap-learn

# cardiac-mri-autoencoders
h5py
torchmetrics

# RNNs
opencv-python
pycocotools
torchtext
